<h1>Welcome Back {{username}}!</h1>
<h2>Your Bitcoin Account Details</h2>
Current Balance (BTC):  {{balanceBTC}}  </br>
Current Balance (USD):  {{balanceUSD}} 

<h3>Transactions:</h3>
{{#if trans}}
<ol>
  {{#each trans}}
  <li>
    <p>{{this.label}}...........{{this.amount}} BTC</p>
    
    <form method="post">
      <input type="hidden" name="id" value="{{this.id}}">
      <input type="hidden" name="amount" value="{{this.amount}}">
      <input type="submit" name="Erase" value="Erase">
    </form>
  </li>
  {{/each}}  
</ol>
{{else}}
<p>You currently don't have any transactions. </p>
{{/if}}
<p>Enter your transactions here:</p>
<form method="post">
  <label>Label:
    <input type="text" name="transLabel" id="transLabel" size="20">
  </label>
  <label>Amount:
  <input type="number" name="transAmount" size="10" step="0.00000001">
  </label>
  <input type="submit" name="Add Transaction" value="Add Transaction">
</form>
